<!DOCTYPE html>
<html>
<head lang="en">
<title>Starting page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen" th:href="@{/css/app.css}" />
<link rel="stylesheet" media="screen" th:href="@{/css/main.css}" />
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<h3>Computer networks simulator</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<svg id="canvas"></svg>
					</div>
				</div>
			</div>
		</div>
	</div>
	</script><script th:src="@{/js/utils.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		var nodes = [[${nodes}]],
		lastNodeId = nodes.length - 1,
		links = matchLinksWithNodes([[${links}]], nodes);
	</script><script th:src="@{/js/d3.v3.js}"></script>
	<script th:src="@{/js/app.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			
			console.log('Document loaded');		
		});
	</script>
</body>
</html>